.customer {
  display: flex;
  justify-items: center;
  align-items: center;
}

.customer__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  align-items: center;
  margin-bottom: -30px;
}
.customer__item {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% / 2 - 30px);
  height: 92px;
  margin: 15px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  @media screen and(min-width: 768px) {
    width: calc(100% / 3 - 30px);
  }
  @media screen and(min-width: 1200px) {
    width: 170px;
  }
}
.customer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transform: rotate(0deg) scale(1);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    transform: rotate(360deg) scale(1.5);
    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.customer__icons {
  display: flex;
  align-items: center;
  fill: currentColor;
}
.customer__title {
  @include font(28px, 700, 1.17, 0.03em);
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
