.footer {
  background: var(--color-backgrount-hero-footer);
  color: var(--text-on-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  color: var(--text-on-background-color);
}
.footer__address {
  background: var(--color-backgrount-hero-footer);
  color: var(--text-on-background-color);
  margin-top: 20px;
}
.footer__link-place-map {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-on-background-color);
  margin-bottom: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.footer__link-tel,
.footer__link-mail {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.address__mail,
.address__tel {
  margin-top: 9px;
}
.footer__sections {
  display: flex;
  align-items: baseline;
}

