.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-backgrount-hero-footer);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-mobx1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-mobx2.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-tabx1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero-tabx2.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-deckx1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero-deckx2.jpg);
    }
  }
}
.hero__text {
  color: var(--text-on-background-color);
  @include font(26px, 900, 1.62, 0.06em);
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 45px;
  max-width: 360px;
  @media screen and (min-width: 768px) {
    padding: 0px;
  }
  @media screen and (min-width: 1200px) {
    @include font(44px, 900, 1.36, 0.06em);
    max-width: 696px;
  }
}
.hero__button {
  background: var(--accent-color);
  color: var(--text-on-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-top: 30px;
  &:hover,
  &:focus {
    background: #188ce8;
  }
}
