.promis__list {
  padding: 0;
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    margin: -15px;
  }
}
.promis__item {
  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200) {
    flex-basis: calc((100% - 3 * 30px) / 4);
    margin-right: 30px;
  }
}
.promis__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.promis__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.promis__text {
  color: var(--secondary-color-text);
  font-size: 14px;
  line-height: 1.71;
}
