.social__item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  & + & {
    margin-left: 10px;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border-radius: 50%;
  transform: scale(1);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .social &:hover,
  .social &:focus {
    color: var(--text-on-background-color);
    background-color: var(--accent-color);
    transform: scale(1.5);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.social__icon {
  fill: currentColor;
}

.social--footer {
  color: #afb1b8;
  @media screen and (max-width: 1199.5px) {
    margin-bottom: 60px;
  }
}
.social__link--footer {
  color: var(--text-on-background-color);
  background: rgba(255, 255, 255, 0.1);
  fill: currentColor;
}
.footer__social {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer__social-text {
  @include font(14px, 700, 1.14, 00.03em);

  text-transform: uppercase;
  margin-bottom: 20px;
}
